<div class="container">
    <h2>Change Password</h2>

    <form [formGroup]="userData" (ngSubmit)="onSubmit()">
        <div class="formGroup">
            <input type="password" name="password" placeholder="Password" required formControlName="password1">
            <!-- Add a margin and remove it when there is an errors   -->
            <div [ngClass]="{'errors':!password?.invalid || !password?.touched}">

                <p *ngIf="password!.errors?.['required'] && password?.touched" class="error-message-input">Password is
                    required
                </p>

                <p *ngIf="password!.errors?.['minlength'] && password?.touched" class="error-message-input">Password is
                    too short
                </p>

            </div>
        </div>

        <div class="formGroup">
            <input type="password" name="password2" placeholder="Confirm Password" required formControlName="password2">

            <!-- Add a margin and remove it when there is an errors   -->
            <div [ngClass]="{'errors':!userData.hasError('passwordMismatch') || !password2?.touched}">

                <p *ngIf="userData.hasError('passwordMismatch') && password2?.touched" class="error-message-input">
                    Password dont
                    match</p>

            </div>

        </div>
        <button type="submit">Change password</button>

    </form>
</div>