.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.container h2 {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.container h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #ffcb22;
}

.aboutUsContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ubication {
    height: 20rem;
    width: 100%;
}

.about {
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Espacio superior */
}
