<section class="container">
    <h2>Ubicacion</h2>

    <div class="aboutUsContent">
        <iframe class="ubication"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3753.3412304022027!2d-97.362737525827!3d19.825509681539526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85daebfb30c12a4d%3A0x71e03684c95fbcc3!2sMETROFLEX%20GYM%20TEZIUTLAN!5e0!3m2!1ses-419!2smx!4v1716846099435!5m2!1ses-419!2smx"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="about">
            <p>¡Nos complace informarte que estamos convenientemente ubicados justo al lado de uno de los lugares más
                concurridos de la ciudad! Nuestra ubicación privilegiada te brinda fácil acceso y conveniencia para que
                puedas disfrutar de nuestros servicios sin contratiempos. ¡Te esperamos con los brazos abiertos!</p>

        </div>

    </div>

</section>