<div class="container">
    <h2>Sobre Nosotros</h2>

    <div class="aboutUsContent">
        <div class="image">
            <img src="../../../../../assets/images/smartFit.webp" alt="Gimnasio">
        </div>
        <div class="about">
            <p>
                Metroflex es el lugar donde los verdaderos amantes del levantamiento de pesas encuentran su hogar.
                Nuestro
                gimnasio es un refugio para aquellos que buscan desafiar sus límites y alcanzar nuevas alturas en su
                entrenamiento. Con un equipo de entrenadores expertos y una comunidad apasionada, ofrecemos un ambiente
                único para el crecimiento muscular y la fuerza.</p>

                <br>

            <p>Desde los principiantes hasta los atletas experimentados, todos son bienvenidos en Metroflex. Aquí,
                compartimos el mismo compromiso con la excelencia y nos apoyamos mutuamente en nuestros viajes de
                fitness.
                Únete a nosotros y descubre el poder del hierro en Metroflex.

            </p>

            <p></p>
        </div>
    </div>

</div>