<div class="container">
    <h2>Forgot Password</h2>

    @if(success){
    <p class="success-message">We have send the recover password to your email pleace check it </p>
    }
    <form [formGroup]="userData" (ngSubmit)="onSubmit()">
        @if (!success) {
        <label>Please enter your email for reset password:</label>

        }
        <input type="email" placeholder="Email" name="email" formControlName="email" required>

        @if ((error|async) && !success) {
        <p class="error-message-input"> {{error|async}}</p>

        }
        <div [ngClass]="{'errors':!email?.invalid || !email?.touched}">
            <p *ngIf="email!.errors?.['required'] && email?.touched" class="error-message-input">Email is required
            </p>

            <p *ngIf="email!.errors?.['email'] && email?.touched" class="error-message-input">Invalid Email</p>
        </div>
        <button type="submit">Recover Password</button>
    </form>


    <a routerLink="/auth/register">Aun no tienes cuenta?</a>
</div>