<nav>
    <div class="NavBarInformation">
        <div class="Information">
            <ul class="BasicList">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre Nosostros</a></li>
                <li><a href="#">Membrecias</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </div>

        <button class="btn-profile" routerLink="/user/qr-code">
            Dashboard
            <i class='bx bx-right-arrow-alt'></i>
        </button>

    </div>
</nav>