<footer>
    <div class="footer-content">
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank" class="social-icon"><i
                    class='bx bxl-facebook-circle'></i> </a>
            <a href="https://www.twitter.com" target="_blank" class="social-icon">
            </a>
            <a href="https://www.instagram.com" target="_blank" class="social-icon">
                <i class='bx bxl-instagram'></i>
            </a>
        </div>
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
</footer>